extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4 Expenses Summary
        h2 Total by Month
        h3=note
        div
          table
            thead
              tr
                th Month
                th Total Expenses
            tbody
                each value, index in arr
                  tr
                    each data, key in value
                      td(align='right')= data
