<% provide(:title, 'Contact') %>
<p>Contact Company: Wave Accounting Inc. (<a href="https://www.waveapps.com/contact-us/">https://www.waveapps.com/contact-us/</a>).</p>
<p>Contact Autor: Zijin Li (<a href="http://johnleebuaa.github.io/#contact">http://johnleebuaa.github.io/#contact</a>).</p>