<% provide(:title, 'Home') %>
<h3>Options</h3>
<%= link_to "Manage Employee", employees_path, class: "btn btn-primary" %>
<%= link_to "Manage Category", categories_path, class: "btn btn-primary" %>
<%= link_to "Manage Tax Name", tax_names_path, class: "btn btn-primary" %>
<br/><br/>
<h3>Monthly Expense</h3>