.control-buttons {
  margin-bottom: 20px;
  margin-top: 20px;
}

.field_with_errors {
  @extend .has-error;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.business-title {
  margin-bottom: 30px;
}

.business-address {
  font-height: 0.75em;
  font-style: italic;
}