{
  "extends": "airbnb",
  "globals": {
    "document": true,
    "fetch": true,
    "FormData": true,
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": 0,
  }
}