/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.buildpath
/.project
/.vagrant/
/dist/
/node_modules/
/.settings/
/ubuntu-xenial-16.04-cloudimg-console.log
