[buildout]
parts = eggs django
include-site-packages = false

# Automatically fix all versions
update-versions-file = versions.cfg
extends = versions.cfg
versions = versions

[eggs]
recipe = zc.recipe.egg
eggs = django
       bootstrap-admin
       django-bootstrap3

[django]
recipe = djangorecipe
eggs = ${eggs:eggs}
project = challenge
wsgi = false
settings = settings.development
