/* table styles */
table {
    width: 90%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
caption {
    width: 90%;
    padding: 10px 0 5px 0;
    text-align: center;
    color: #808080;
}
th {
    padding: 10px 15px 10px 15px;
    background: #e8f2e1;
    font: normal 11px Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #3a5926;
    border: 1px solid #93c473;
}
thead th, tfoot th {
    background: #c6deb6 url("../images/bg.png") left top repeat-x;
    font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
td {
    padding: 10px 15px 10px 15px;
    border: 1px solid #93c473;
}
td.first-col {
    background: #c6deb6 url("../images/bg.png") left top repeat-x;
}
tr.odd {
    background: #e8f2e1;
    color: #3a5926;
}

