<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include ../templates/javascripts.ejs %>
    <%- include ../templates/stylesheets.ejs %>
  </head>
  <body ng-app="csv-to-db-app" >
    <div class="container" ui-view></div>
  </body>
</html>
