<!DOCTYPE html>
<html>
<head>
  <title>Wave Challenge - Brendan Ritchie</title>
  <link href="app.css" rel="stylesheet" type="text/css">
</head>
<body>

<input type="file" name="csv-upload" id="csv-upload" accept=".csv"></input>

<table id="data-summary" class="hide">
  <thead>
    <tr>
      <td>Month</td>
      <td>Total Expenses</td>
    </tr>
  </thead>
  <tbody id="data-summary-body">
    <tr>
      <td>One</td>
      <td>Two</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" id="filename"></td>
    </tr>
  </tfoot>
</table>


<script src="app.js" type="text/javascript"></script>
</body>
</html>