<html ng-app="wavetest">
  <head>
    <title>herbMD</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
  </head>
  <body>
    <div ui-view></div>
  </body>

  <script src="/javascripts/module.js"></script>
  <script src="/javascripts/services/RequestService.js"></script>
  <script src="/javascripts/services/DataService.js"></script>
  <script src="/javascripts/controllers/homeController.js"></script>
  <script src="/javascripts/directives/fileSelect.js"></script>
</html>
