<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Expenses App</title>
        <meta name="description" content="Carol Zhang's submission for Wave code challenge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="apple-touch-icon" href="favicon.ico">-->
        <!--<link rel="icon" href="favicon.ico">-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
{% if expenses_list %}
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <th>Date</th>
        <th>Total Expense (pre-tax)</th>
    </thead>
    <tbody>
    {% for expense in expenses_list %}
        <tr>
            <td> {{ expense.month }} </td>
            <td><p class="text-right">${{ expense.s }}</p> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No expenses found. Try <a href="/index.html">uploading again</a></p>
{% endif %}
</div>
</body>
</html>