<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Expenses App</title>
        <meta name="description" content="Carol Zhang's submission for Wave code challenge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="apple-touch-icon" href="favicon.ico">-->
        <!--<link rel="icon" href="favicon.ico">-->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
    .chart {
        transform: scale(0.5);
        transform-origin: 0 0;
    }

    .chart div {
      font: 40px sans-serif;
      background-color: steelblue;
      padding: 3px;
      margin: 1px;
      color: white;
      height: 80px;
    }
    </style>
</head>
<body>
<div class="container">
{% if expenses_list %}
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <th>Date</th>
        <th>Total Expense (pre-tax)</th>
    </thead>
    <tbody>
    {% for expense in expenses_list %}
        <tr>
            <td> {{ expense.month }} </td>
            <td><p class="text-right">${{ expense.s }}</p> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <h2>Expenses by month visualized</h2>
    <div class="chart">
    {% for expense in expenses_list %}

        <div style="width: {{ expense.s }}px;">{{ expense.month }}: ${{ expense.s }}</div>
    {% endfor %}
    </div>
{% else %}
<p>No expenses found. Try <a href="/index.html">uploading again</a></p>
{% endif %}
</div>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
</html>