{% load humanize %}

<div id='csv-summary'>
    <div class='panel panel-default'>
        <div class='panel-heading'>File Upload Summary - {{ upload_file_name }}</div>
        <div class='panel-body main-content'>
            <div class='panel panel-default'>
                <div class='panel-body'>
                    <table class='table table-striped'>
                        <thead>
                        <tr>
                            <td>Month</td>
                            <td>Pre-Tax Amount</td>
                            <td>Tax Amount</td>
                            <td>Total Amount</td>
                        </tr>
                        </thead>

                        <tbody>
                        {% for row in summary_data %}
                            <tr>
                                <td>
                                    {{ row.0 | date:'m/Y' }}
                                </td>
                                <td class='currency'>
                                    {{ row.1 |floatformat:2|intcomma }}
                                </td>
                                <td class='currency'>
                                    {{ row.2|floatformat:2|intcomma }}
                                </td>
                                <td class='currency'>
                                    {{ row.3|floatformat:2|intcomma }}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>

                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class='panel-footer'>
            <button id='upload-more' class='btn btn-primary'>Upload More Files</button>
        </div>

    </div>
</div>
