<% provide(:title, "Edit Tax Name Info: " + @tax_name.name) %>
<% provide(:button_text, 'Update Tax Name Info') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>