<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Report Viewer{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>

<section class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% block extra_tabs %}
                        <li><a href="{% url 'upload' %}">Upload</a></li>
                        <li><a href="{% url 'expense-list' %}">Expenses</a></li>
                    {% endblock %}
                    <li><a href="{% url 'clear' %}">Clear All</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}

    {% endblock %}
</section>

</body>
</html>
