<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Upload Report</h1>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>Month</th>
            <th>Total Expense</th>
        </tr>
        {% for row in report %}
        <tr>
            <td>{{ row.month }}</td>
            <td>{{ row.total_expense }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"/>
</body>
</html>