body {
	background-color: lightblue;
}

#banner {
	background-color: darkslategray;
	height: 40px;
	padding: 5px;
	margin-bottom: 50px;
}

#appName {
	color: white;
	font-weight: bold;
	font-size: 20pt;
	padding: 5px;
	padding-left: 20px;
}

#container {
	width: 50%;
	margin: 0 auto;
}

#csvForm {
	background-color: white;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

.progress {
	text-align: left;
	background-color: orange;
	margin-top: 5px;
}

.error {
	color: red;
}

.text {
	padding: 1px 0px 1px 5px;
}

#summaryTable {
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	text-align: center;
	background-color: white;
}

#summaryTable th {
	padding: 4px;
	background-color: darkgray;
}

#summaryTable td {
	padding: 4px;
}

.evenRow {
	background-color: lightgray;
}

.oddRow {
	background-color: white;
}	
