<h1>Expense tracker</h1>

<h3>Instructions</h3>
<ul>
  <li>Register an account from the top right user menu</li>
  <li>Login via the same menu</li>
  <li>Click on 'view expenses' from top menu</li>
  <li>Add expenses via import csv button</li>
  <li>Switch between months via tabs</li>
</ul>

