<head>
	<style>
		#newuser_form {
			width: 30%;
			margin:10px;
			text-align: left;
		}

	</style>
</head>
<h1>New user</h1>

<div id = "newuser_form">
	<%= render 'form' %>
</div>


<%= link_to 'Back', users_path %>
