<h1>Report for CSV file</h1>
<p><b>Check ID:</b><%= @csv_file.check_id %></p>

<table>
  <thead>
    <td>
      Date
    </td>
    <td>
      Total Expenses
    </td>
  </thead>
  <% @report.each do |key, value| %>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
        <%= '%.2f' % (value.to_f / 100) %>
    </tr>
  <% end %>
</table>
