<div class="jumbotron">
    <h1>Legacy Expense Import</h1>
    <div class="row">
        <input type="file" id="sourceFileInput" accept=".csv" style="display:none">
        <label for="sourceFileInput" class="btn btn-default">Select CSV file</label>
    </div>
    <div class="row">
        <button class="btn btn-primary" onclick="handleFileImport()">Import</button>
    </div>
</div>
<div class="row">
   <div id="file"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="../../Scripts/FileUploader.js"></script>
