@{
    ViewData["Title"] = "About";
}

<div class="ui container">
    <h3>@ViewData["Message"]</h3>


    <div class="ui list">
  <div class="item">
    <i class="code icon"></i>
    <div class="content">
      <a class="header" href="https://www.asp.net/core">ASP.NET Core MVC</a>
      <div class="description">Microsot's newest open source .NET Library used for developing 
          this app.
      </div>
    </div>
  </div>
  <div class="item">
    <i class="code icon"></i>
    <div class="content">
      <a class="header" href="https://servicestack.net/">Service Stack Library for .NET Core</a>
      <div class="description"> High performance open source Library for importing and deserializing CSV files 
          into POCO and providing Object Relational Mapper capability for my app. 
      </div>
    </div>
  </div>
  <div class="item">
    <i class="code icon"></i>
    <div class="content">
      <a class="header" href="http://www.dropzonejs.com/">Dropzone JS</a>
      <div class="description">An excellent open source javascript plugin for uploading files.</div>
    </div>
  </div>
  <div class="item">
    <i class="code icon"></i>
    <div class="content">
      <a class="header" href="https://semantic-ui.com/">Semantic UI</a>
      <div class="description">Excellent Semantic UI Library like bootstrap but with readable syntax</div>
    </div>
  </div>
</div>

 Made with <i class="red heart icon"></i>
 Sugat Mahanti
</div>

