%table
  %tr
    %th Date
    %th Pre-tax amount
    %th Tax amount

  - reports.each do |month, data|
    - report = MonthlyReportPresenter.new(month, data)
    %tr{ data: { test: report.month } }
      %td= report.month
      %td= report.pre_tax_amount
      %td= report.tax_amount
