%table.table.table-striped.table-sm
  %thead
    %tr
      %th Month
      %th.text-xs-right Pre-tax amount
      %th.text-xs-right Tax amount

  %tbody
    - reports.each do |month, data|
      - report = MonthlyReportPresenter.new(month, data)
      %tr{ data: { test: report.month } }
        %td= report.month
        %td.text-xs-right= report.pre_tax_amount
        %td.text-xs-right= report.tax_amount
