%div
  %h5 Upload CSV
  %p
    To import expenses data, please upload a CSV file.
  %p
    Expected format:
    %ul
      %li file has a header line
      %li columns: date, category, employee name, employee address, expense description, pre-tax amount, tax name, and tax amount.

  = render 'form'

%hr.my-2

- unless @uploads.empty?
  %div
    %h5 Uploads
    = render 'uploads', uploads: @uploads

%hr.my-2

- unless @reports.empty?
  %div
    %h5 Monthly reports
    = render 'reports', reports: @reports
