.jumbotron 
  %p Welcome to Margaret, your expense reporter and aggregator 
  %span
    = link_to "All Businesses", business_businesses_path, class: 'btn btn-primary btn-lg'
    = link_to 'Add New Business', new_business_business_path, class: 'btn btn-primary btn-lg'
    -# TODO - search bar with auto-complete