.jumbotron 
  %p Welcome to Margaret, your expense reporter and aggregator 
  %span
    = link_to "Show all Businesses", '#', class: 'btn btn-primary btn-lg'
    = link_to 'Add New Business', '#', class: 'btn btn-primary btn-lg'
    -# TODO - search bar with auto-complete