.jumbotron 
  %p Welcome to Margaret, your expense reporter and aggregator. Click the button below to
  %ul
    %li See all businesses
    %li Add expense reports for new or current businesses
    %li Export, search and organize expenses
  %br
  %br
  %span
    = link_to "Get to work", business_businesses_path, class: 'btn btn-primary btn-lg'