<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <style type="text/css">
            .currency {
                text-align: right;
            }
        </style>

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="clearfix">
                <h3 class="pull-left">{{ title }}</h3>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" href="{% url 'upload' %}">Upload Another</a>
                    <a class="btn btn-primary" href="{% url 'list_imports' %}">List All</a>
                </div>
            </div>
            {% block maincontent %}
            {% endblock %}
        </div>
    </body>
</html>