{% extends 'base.html' %}
{% load humanize csvloader %}
{% block maincontent %}

<h4>By Month</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Month</th>
            <th class="currency">Pre-Tax Amount</th>
            <th class="currency">Tax Amount</th>
            <th class="currency">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% regroup import.expenses by year as by_year %}
        {% for year in by_year %}
            {% regroup year.list by month_name as by_month %}
            {% for month in by_month %}
                <tr>
                    <td class="date-label">{{ month.grouper }} {{ year.grouper }}</td>
                    <td class="currency">{{ month.list|sum_field:'pre_tax_amount'|floatformat:2|intcomma }}</td>
                    <td class="currency">{{ month.list|sum_field:'tax_amount'|floatformat:2|intcomma }}</td>
                    <td class="currency">{{ month.list|sum_field:'total_amount'|floatformat:2|intcomma }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th class="currency">{{ import.expenses|sum_field:'pre_tax_amount'|floatformat:2|intcomma }}</th>
            <th class="currency">{{ import.expenses|sum_field:'tax_amount'|floatformat:2|intcomma }}</th>
            <th class="currency">{{ import.expenses|sum_field:'total_amount'|floatformat:2|intcomma }}</th>
        </tr>
    </tfoot>
</table>

<div class="clearfix">
	<h4 class="pull-left">Import Details</h4>
	<a class="pull-right btn btn-primary toggle" data-toggle="collapse" data-target="#import">Toggle</a>
</div>
<table id="import" class="table collapse">
	<tbody>
		<tr>
			<th>Import Date</th>
			<td>{{ import.date }}</td>
		</tr>
		<tr>
			<th>Imported By</th>
			<td><a href="mailto:{{ import.imported_by.email }}">{{ import.imported_by.email }}</a></td>
		<tr>
			<th>Record Count</th>
			<td>{{ import.expenses.count }}</td>
		</tr>
	</tbody>
</table>

<div class="clearfix">
	<h4 class="pull-left">All Expenses</h4>
	<a class="pull-right btn btn-primary toggle" data-toggle="collapse" data-target="#expenses">Toggle</a>
</div>
<table id="expenses" class="table table-striped collapse">
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Employee</th>
            <th>Employee Address</th>
            <th class="currency">Pre-Tax Amount</th>
            <th>Tax Type</th>
            <th class="currency">Tax Amount</th>
            <th class="currency">Total Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for exp in import.expenses %}
        <tr class="row-{{ exp.year }}-{{ exp.month_name }}">
            <td class="date">{{ exp.date }}</td>
            <td>{{ exp.category }}</td>
            <td>{{ exp.employee_name }}</td>
            <td>{{ exp.employee_address }}</td>
            <td class="currency">{{ exp.pre_tax_amount|floatformat:2|intcomma }}</td>
            <td>{{ exp.tax_name }}</td>
            <td class="currency">{{ exp.tax_amount|floatformat:2|intcomma }}</td>
            <td class="currency">{{ exp.total_amount|floatformat:2|intcomma }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="clearfix">
	<h4 class="pull-left">Raw Data</h4>
	<a class="pull-right btn btn-primary toggle" data-toggle="collapse" data-target="#raw-data">Toggle</a>
</div>
<xmp id="raw-data" class="collapse">
{{ import.raw_data }}
</xmp>
{% endblock %}