input[type=submit] {
    padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

html * {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif !important;
}