<!DOCTYPE html>

<html>
<head>
    <title>Wave Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wave Full Stack Web Developer Code Challenge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <div class="container">
        <section class="row page-header header_site text-center">
            <section class="col-xs-6" style="border-style: dotted; border-color: {{style1}};">
                <i class="glyphicon glyphicon-plus"></i>
                <a  href={{url_for('mainPage', filename=filename)}}>Import New File</a>
            </section>
            <section class="col-xs-6" style="border-style: dotted; border-color: {{style2}};">
                <i class="glyphicon glyphicon-file"></i>
                <a href={{url_for('monthlyExpenseReport', filename=filename)}}>View Report</a>
            </section>
        </section>


        <section class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </section>


        <section class="row text-center">
            {% block content %}
            {% endblock %}
        </section>
    </div>

</body>
</html>
