<!DOCTYPE html>
<html>

<head>
  <title>Wave Software Development Challenge</title>
</head>

<body>

<h1>Wave Software Development Challenge</h1>

<form action="" method="post" enctype="multipart/form-data">
  <fieldset>
    <legend>Upload file</legend>
    <label for="file">File name: </label>
    <input type="file" name="file" id="file">
  </fieldset>
  <input type="submit" value="Upload">
</form>

<h3>Monthly Expenses</h3>
{% if expenses %}
<table>
  <tr>
    <th>Month & Year</th>
    <th>Pre-tax Amount ($)</th>
    <th>Tax Amount ($)</th>
    <th>Total ($)</th>
  </tr>
  {% for expense in expenses %}
  <tr>
    <td>{{ "%02d/%04d" % (expense.month, expense.year) }}</td>
    <td>{{ "%.02f" % expense.pretax_amount }}</td>
    <td>{{ "%.02f" % expense.tax_amount }}</td>
    <td>{{ "%0.2f" % (expense.pretax_amount + expense.tax_amount) }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <p>There are currently no monthly expenses.</p>
{% endif %}

</body>

</html>
