<h1>CSV Summary</h1>
<p>
  <table>
    <tr>
      <th>Month</th>
      <th>Total Monthly Cost</th>
    </tr>
  <% Expense.monthly_expenses.each do |data| %>
    <tr>
      <td><%= data.first %></td>
      <td><%= data.second.round(2) %></td>
    </tr>
  <% end %>
  </table>
</p>
