<h1>CSV Summary</h1>
<p>
  <% @data = Expense.monthly_expenses %>
  <table>
    <tr>
      <th>Month</th>
      <th>Total Monthly Cost</th>
    </tr>
  <% @data.each do |data| %>
    <tr>
      <td><%= data.first %></td>
      <td><%= data.second %></td>
    </tr>
  <% end %>
  </table>
</p>
