<div class="row">
  <div class="col-md-8">

    <div id="expenses-import">

      <p>Please upload a CSV file of expenses to import</p>

      <%= form_tag('expenses/import', multipart: true) do %>
        <div class="form-group">
          <label class="upload-press">
            <input type="file" name="expense_file" id="expense_file">
            <span>
              Upload CSV
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </span>
          </label>
        </div>
      <% end %>

    </div>

  </div>
</div>

