/*
 *= require layout
 *= require_self
 */

$navbar-default-link-color: rgb(15,67,131);
$navbar-default-bg: rgb(202,212,235);
$btn-info-bg: rgb(15,67,131);

@import "bootstrap-sprockets";
@import "bootstrap";*
