.drag_over { 
  background-color: red;
}

.panel-heading { 
  cursor: pointer;
}

@media (min-width: 500px) { 
  #content { 
    width: 100%;
    margin-left: 0;
  } 
}
@media (min-width: 600px) { 
  #content { 
    margin-top: 20px;
    width: 90%;
    margin-left: 5%; 
  } 
}

@media (min-width: 884px) { 
  #content { 
    margin-top: 20px;
    width: 70%;
    margin-left: 15%; 
  } 
}

.graph_bar { 
  width: 100%;
  opacity: .5;
  height: 100%;
  background-color: red;
  border-radius: 2px;
}

@media (max-width: 522px) { 
  td, th { 
    font-size: 12px;
  }
}
@media (max-width: 480px) { 
  td, th { 
    font-size: 11px;
  }
}
