<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Wave Subsidiary - Welcome!</title>
	</head>

	<body>
        <a href="{% url "report" %}">View current subsidiary data</a>
		<!-- Upload form -->
		<form action="{% url "home" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.uploaded_file.label_tag }} {{ form.uploaded_file.help_text }}</p>
			<p>{{ form.uploaded_file }} {{ form.uploaded_file.errors }}</p>
			<input type="submit" value="Upload" />
		</form>
    </body>
</html>