%h1 Categories

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th
        .text-right
          Total Expenses
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td
          .text-right
            = cents_to_dollars(category.total_expenses)
