%h1 Monthly Breakdown
%h2= "Expense Sheet #{@expense_sheet.id}"

%table
  %thead
    %tr
      %th Month
      %th Total
    - @monthly.each do |listing|
      %tr
        %td= listing.month
        %td= listing.total
