.jumbotron
  %h1 Welcome to the Expensatron
  %p.lead This might be the <i>greatest piece of software ever written</i>. It's time to start feeling the exhileration of uploading your expense sheet.
  %p
    = link_to "Let's do this", new_expense_sheet_path, class: 'btn btn-lg btn-success', role: 'button'
