.jumbotron
  %h1 Welcome to the Expense-o-tron
  %p.lead Here, you can upload an expense sheet, and see a list of expenses, employees, or categories.
  %p
    = link_to "Start Uploading", new_expense_sheet_path, class: 'btn btn-lg btn-success', role: 'button'
