<!DOCTYPE html>
<html>
    <head>
        <title>Wave Challenge - Subsidiary</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'subsidiary/style.css' %}" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>

    <body>
	<header class="header"><h1>Wave Challenge</h1></header>
    {% block content %}{% endblock content %}
    </body>
</html>