<div style="position: absolute;top: 50%;left: 50%;width: 500px;height: 400px;margin: -100px 0 0 -100px;"> 
    <h1>Please upload the CSV File </h1>
     <% if notice %>
        <div style="color:red;width:300px;text-align:center;"><%= notice %></div>
    <% end %>
    <div style="position: relative;top: 10%;width: 500px;height: 200px;margin: -100px 0 0 -100px;">
        <%= render 'form' %>
    </div>
    <div style="position: relative;top: 50%;left: 50%;width: 1000px;height: 400px;margin: -100px 0 0 -100px;">
          <%= link_to 'Show Current List of Expenses', monthly_expenses_expenses_path %>
    </div>
</div>