#navbar.list-group
  .links.list-group
    %a.list-group-item{href: upload_expenses_path}
      Batch Upload
      .glyphicon.glyphicon-upload
    %a.list-group-item{href: expenses_path} Expenses
    %a.list-group-item{href: expense_categories_path} Expense Categories 
    %a.list-group-item{href: taxes_path} Taxes 
    %a.list-group-item{href: employees_path} Employees
