<head>
	<style>
		#login_form {
			width: 30%;
			margin:0 auto;
			text-align: center;
		}

	</style>
</head>
<h1>Login</h1>

<div id = "login_form">
	<%= render 'form' %>
</div>

<%= link_to 'Back', user_sessions_path %>