<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wave Challenge</title>
    </head>

    <body>
    <h1>Wave Challenge</h1>
        <!-- List of uploaded documents -->
        <a href="{% url 'upload' %}">Go Back</a>
        {% if expenses %}
            <ul>
                
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                    <p>{{ document.id }} - {{ document.created_time }}</p>
                    <table>
                    <tr>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Total Expenses</th>
                        </tr>

                    {% for expense in expenses %}

                    <tr>
                        <th>{{ expense.month_date }} </th>
                        <th>{{ expense.year_date }} </th>
                        <th>{{ expense.total_amount }} </th>
                        </tr>
                    {% endfor %}

                    </table>

            </ul>
        {% else %}
            <p>No Summary sheets available.</p>
        {% endif %}

    </body>

</html>
