<!doctype html>
<html lang="en">
    {% include "components/head.html" %}

    <body>
        <div class="wrapper">
            
            <div class="sidebar" data-active-color="rose" data-background-color="black" data-image="../../assets/img/sidebar-1.jpg">
                <!--
                Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
                Tip 2: you can also add an image using data-image tag
                Tip 3: you can change the color of the sidebar with data-background-color="white | black"
                -->
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        Basil Khan
                    </a>
                </div>
                <div class="logo logo-mini">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        BK
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <div class="user">
                        <div class="photo">
                            <img src="https://avatars0.githubusercontent.com/u/13711901?v=3&s=460" />
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                                Basil Khan
                                <b class="caret"></b>
                            </a>
                            <div class="collapse" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="#">My Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="#">My Github</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav">
                        <li>
                            <a href="../dashboard.html">
                                <i class="material-icons">dashboard</i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">

                {% include "components/navbar.html" %}

                <div class="content">

                </div>

                {% include "components/footer.html" %}
            </div>
        </div>
        <div class="main-panel">


    <h1>Wave Challenge</h1>
        <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                    <p>{{ document.id }} - {{ document.created_time }}</p>
                    <a href="{% url 'expense summary' document.id %}">View Summary</a>
                    <table>
                    <tr>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Total Expenses</th>
                        </tr>
                    {% for expense in expenses %}


                    <tr>
                        <th>{{ expense.month_date }} </th>
                        <th>{{ expense.year_date }} </th>
                        <th>{{ expense.total_amount }} </th>
                        </tr>

                    {% endfor %}
                    </table>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

    {% include "components/scripts.html" %}

</html>
