<footer class="footer">
  <small>
    Copyright &copy; 2016 <a href="https://www.waveapps.com/">Wave Accounting Inc.</a>
    An expense calculator App by <a href="http://johnleebuaa.github.io/">Zijin Li</a>.
  </small>
</footer>