<div class="csvUploader">
  <form class="CSVform" action="" method="post" enctype="multipart/form-data">
    <label>Browse for CSV: <input type="file" name="CSVfile"/></label>
    <p><button type="submit">Submit</button></p>
  </form>
  <div class="result">
    <p class="resultText"></p>
    <div class="resultTable"></div>
  </div>
</div>
