<table class="resultTable">
  <tr>
    <th>Month</th>
    <th>Total PreTax Expenses ($)</th>
  </tr>
  {{#each items}}
  <tr>
    <td>{{month}}</td>
    <td>{{expense}}</td>
  </tr>
  {{/each}}
</table>
